/* Escenciales */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input,
div,
span,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    overflow-y: scroll;
}
.noscroll.active {
    overflow-y: hidden;
}

/* Desktop Nav */
.contenedor-navegacion {
    height: 54px;
    z-index: 300;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    border-bottom: 1px solid rgb(31 41 55);
    margin-right: 0px;
}
.contenedor-navegacion nav {
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}
nav .navegacion-escritorio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 4px;
}
nav .navegacion-escritorio li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.enlace-logo {
    background: url('../images/artmichel-logo.svg');
    display: block;
    background-position: center;
    height: 44px;
    width: 44px;
    background-repeat: no-repeat;
}
.enlace-buscador {
    background: url('../images/search-icon.svg');
    display: block;
    background-position: center;
    background-size: 18px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}


.enlace-cerrar {
    background: url('../images/close-icon.svg');
    display: block;
    background-position: center;
    background-size: 17px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

/* Contenedor de búsqueda */

.contenedor-buscador.hide {
    opacity: 0;
    pointer-events: none;
}

.contenedor-buscador {
    width: 36.66667%;
    margin: 0 auto;
    padding: 0 42px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    margin-top: 4px;
}


@media (max-width: 1100px) {
    .contenedor-buscador {
        width: 56.66667%;
        margin: 0 auto;
        padding: 0 42px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 200;
        margin-top: 4px;
    }
}

@media (max-width: 768px) {
    .contenedor-buscador {
        width: 66.66667%;
        margin: 0 auto;
        padding: 0 42px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 200;
        margin-top: 4px;
    }
}

.contenedor-buscador .enlace-buscador {
    position: absolute;
    left: 12px;
    opacity: 0.5;
}

.contenedor-buscador .enlace-cerrar {
    position: absolute;
    top: 0;
    right: 12px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 400ms;
}

.contenedor-buscador .enlace-cerrar:hover {
    opacity: 0.7;
}

.contenedor-buscador form {
    width: 100%;
    margin: 0 auto;
}

.contenedor-buscador form input {
    width: 100%;
    height: 44px;
    border: 0;
    outline: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

/* cubrir */

.cubrir.show {
    position: fixed;
    background: rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
}

/* Enlaces rápido */

.contenedor-buscador .enlaces-rapidos {
    position: absolute;
    left: 0;
    top: 40px;
    right: 0;
    padding: 16px 8px;
    border-radius: 0 0 4px 4px;
}

.contenedor-buscador .enlaces-rapidos h2 {
    font-size: 12px;
    color: #6e6e73;
    margin: 0 32px;
    margin-top: 10px;
}

.contenedor-buscador .enlaces-rapidos ul {
    list-style: none;
    margin-top: 12px;
}

.contenedor-buscador .enlaces-rapidos ul li a {
    display: inline-block;
    width: 100%;
    padding: 8px 50px;
    font-size: 14px;
    color: rgb(209 213 219);
    text-decoration: none;
    font-weight: 400;
}

.contenedor-buscador .enlaces-rapidos ul li a:hover {
    background-color: rgb(55 65 81);
    color: #2997ff;
}

/* Animación de navegación de escritorio */

.navegacion-escritorio li {
    transition: all 300ms ease-out;
}

.navegacion-escritorio.hide li {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

/* cubrir Animación */

.cubrir {
    transition: all 300ms ease;
}

/* Elementos del menú de navegación Retardo de transición */

.navegacion-escritorio li:nth-of-type(1),
.navegacion-escritorio.hide li:nth-of-type(10) {
    transition-delay: 0ms;
}

.navegacion-escritorio li:nth-of-type(2),
.navegacion-escritorio.hide li:nth-of-type(9) {
    transition-delay: 30ms;
}

.navegacion-escritorio li:nth-of-type(3),
.navegacion-escritorio.hide li:nth-of-type(8) {
    transition-delay: 60ms;
}

.navegacion-escritorio li:nth-of-type(4),
.navegacion-escritorio.hide li:nth-of-type(7) {
    transition-delay: 90ms;
}

.navegacion-escritorio li:nth-of-type(5),
.navegacion-escritorio.hide li:nth-of-type(6) {
    transition-delay: 120ms;
}

.navegacion-escritorio li:nth-of-type(6),
.navegacion-escritorio.hide li:nth-of-type(5) {
    transition-delay: 150ms;
}

.navegacion-escritorio li:nth-of-type(7),
.navegacion-escritorio.hide li:nth-of-type(4) {
    transition-delay: 180ms;
}

.navegacion-escritorio li:nth-of-type(8),
.navegacion-escritorio.hide li:nth-of-type(3) {
    transition-delay: 210ms;
}

.navegacion-escritorio li:nth-of-type(9),
.navegacion-escritorio.hide li:nth-of-type(2) {
    transition-delay: 240ms;
}

.navegacion-escritorio li:nth-of-type(10),
.navegacion-escritorio.hide li:nth-of-type(1) {
    transition-delay: 270ms;
}

/* Animación de contenedor de búsqueda */

.contenedor-buscador form,
.contenedor-buscador .enlace-buscador {
    opacity: 1;
    transform: translateX(0);
    transition: all 300ms ease;
    transition-delay: 300ms;
}

.contenedor-buscador.hide form,
.contenedor-buscador.hide .enlace-buscador {
    opacity: 0;
    transform: translateX(50px);
}

.contenedor-buscador .enlace-buscador {
    opacity: 0.6;
}

.contenedor-buscador.hide .enlace-cerrar {
    opacity: 0;
}

.contenedor-buscador .enlace-cerrar {
    opacity: 0.5;
    transition: all 400ms ease;
    transition-delay: 400ms;
}

.contenedor-buscador.hide .enlaces-rapidos h2 {
    opacity: 0;
    transform: translateX(50px);
}

.contenedor-buscador .enlaces-rapidos h2 {
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms ease;
    transition-delay: 100ms;
}

.contenedor-buscador.hide .enlaces-rapidos ul li {
    transform: translateX(60px);
    opacity: 0;
}

.contenedor-buscador .enlaces-rapidos ul li {
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms ease;
}

.contenedor-buscador .enlaces-rapidos ul li:nth-of-type(1) {
    transition-delay: 120ms;
}

.contenedor-buscador .enlaces-rapidos ul li:nth-of-type(2) {
    transition-delay: 140ms;
}

.contenedor-buscador .enlaces-rapidos ul li:nth-of-type(3) {
    transition-delay: 160ms;
}

.contenedor-buscador .enlaces-rapidos ul li:nth-of-type(4) {
    transition-delay: 180ms;
}

.contenedor-buscador .enlaces-rapidos ul li:nth-of-type(5) {
    transition-delay: 200ms;
}


/* Elementos ocultos */

.navegacion-movil,
.mobile-contenedor-buscador {
    display: none;
}


/* Media Queries */

@media (max-width: 1100px) {

    .contenedor-navegacion {
        background: #000;
        border-bottom: 1px solid rgb(31 41 55);
    }

    .contenedor-navegacion nav {
        width: 100%;
        padding: 0 32px;
    }
}

@media (max-width: 768px) {
    .contenedor-navegacion {
        background: #000;
        border-bottom: 1px solid rgb(31 41 55);
    }
    .contenedor-navegacion .navegacion-escritorio {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0vh;
        background: #000;
        justify-content: start;
        z-index: -1;
        overflow-y: hidden;
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
        font-synthesis: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        direction: ltr;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        -webkit-transition: background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1), height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
        transition: background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1), height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
    }
    .navegacion-escritorio.active {
        overflow-y: scroll;
    }
    .contenedor-navegacion.active {
        margin-right: 18px;
    }
    .contenedor-navegacion nav.active {
        background: #000;
        border-bottom: 0px solid;
    }
    .contenedor-navegacion.active .navegacion-escritorio {
        height: 100%;
    }

    .contenedor-navegacion .navegacion-escritorio li {
        width: 100%;
        padding: 0 32px;
    }

    .contenedor-navegacion .navegacion-escritorio li:first-child {
        margin-top: 120px;
    }

    .contenedor-navegacion .navegacion-escritorio .enlace-logo, 
    .contenedor-navegacion .navegacion-escritorio .enlace-buscador {
        display: none;
    }

    .contenedor-navegacion .navegacion-escritorio li a {
        padding: 16px 0;
        display: inline-block;
        border-bottom: 1px solid rgb(31 41 55);
        width: 100%;
        font-size: 17px;
        transform: translateY(-80px);
        opacity: 0;
        transition: all 700ms ease;
    }

    .contenedor-navegacion.active .navegacion-escritorio li a {
        transform: translateY(0);
        opacity: 1;
    }

    /*Navegación móvil */

    nav .navegacion-movil {
        display: flex;
        width: 100%;
        justify-content: space-between;
        list-style: none;
        margin-top: 4px;
    }

    nav .contenedor-menu-icono {
        width: 20px;
        height: 44px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    nav .menu-icono {
        position: relative;
        width: 100%;
    }

    nav .menu-icono .linea-1,
    nav .menu-icono .linea-2 {
        position: absolute;
        height: 1px;
        width: 100%;
        background: #fff;
        transition-property: transform, top;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    nav .menu-icono .linea-1 {
        top: -4px;
    }

    nav .menu-icono .linea-2 {
        top: 4px;
    }

    .contenedor-navegacion.active nav .contenedor-menu-icono .menu-icono .linea-1 {
        top: 0;
        transform: rotateZ(45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }

    .contenedor-navegacion.active nav .contenedor-menu-icono .menu-icono .linea-2 {
        top: 0;
        transform: rotateZ(-45deg);
        transition-property: top, transform;
        transition-delay: 0ms, 160ms;
        transition-duration: 200ms;
    }



    /* Caja de búsqueda */

    .mobile-contenedor-buscador input {
        width: 100%;
        padding: 12px 36px;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        border: 0;
        color: #fff;
        border-radius: 2px;
        outline: none;
    }

    .mobile-contenedor-buscador {
        position: relative;
        padding: 0 16px;
        margin-top: -30px;
        display: flex;
        padding-bottom: 16px;
        align-items: center;
        transform: rotateX(90deg);
        opacity: 0;
        transition: all 600ms ease;
    }

    .contenedor-navegacion.active .mobile-contenedor-buscador {
        transform: rotateX(0deg);
        margin-top: 0px;
        opacity: 1;
        background: #000;
    }

    .mobile-contenedor-buscador .enlace-buscador {
        position: absolute;
        left: 24px;
        opacity: .5;
        background-size: 15px;
    }

    /* Nav Mover hacia arriba */

    .contenedor-navegacion nav.move-up {
        margin-top: -40px;
    }

    /* Botón Cancelar */

    .mobile-contenedor-buscador .boton-cancelar {
        color: #2997ff;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
        width: 0px;
        overflow: hidden;
        transition: all 400ms ease;
    }

    .mobile-contenedor-buscador .barra-buscador.active+.boton-cancelar {
        padding: 0 16px;
        width: 74px;
    }

    .mobile-contenedor-buscador .barra-buscador {
        flex: 1;
    }

    /* Desktop Nav Mover hacia abajo */

    nav .navegacion-escritorio.move-down li:first-child {
        margin-top: 150px;
    }

    nav .navegacion-escritorio.move-down li {
        opacity: 0;
        pointer-events: none;
    }


    /* Enlaces rápidos */

    .mobile-contenedor-buscador .barra-buscador.active~.enlaces-rapidos {
        top: 80px;
        opacity: 1;
        pointer-events: auto;
        transition-delay: 40ms;
    }

}

.mobile-contenedor-buscador .enlaces-rapidos {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 32px;
    opacity: 0;
    pointer-events: none;
    top: 10px;
    transition: all 400ms ease;
}

.mobile-contenedor-buscador .enlaces-rapidos ul {
    list-style: none;
}

.mobile-contenedor-buscador .enlaces-rapidos h2 {
    color: #86868b;
    font-size: 12px;
    font-weight: 400;
}

.mobile-contenedor-buscador .enlaces-rapidos ul li a {
    padding: 16px 0;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid rgb(31 41 55);
    width: 100%;
}

.mobile-contenedor-buscador .enlaces-rapidos ul li a:hover {
    color: #2997ff;
}

/* Animación de navegación */

.contenedor-navegacion nav {
    transition: all 400ms ease;
}

































/* HOME VIDEO */

[data-height=fullscreen] .envase {
    min-height: 100vh;
}

[data-content-for=xl] {
    display: block;
}
[data-breakpoint=sm] [data-column-mode-sm=single] .columna {
    width: 100%;
    max-width: 100%;
    flex: 0 0 auto;
    flex-basis: 100%
}
[data-content-for=xs] {
    display: none;
}

[data-valign=bottom] .envase {
    align-content: stretch;
    align-items: stretch;
}

[data-valign=bottom] {
    align-items: flex-end;
}

[data-valign=stretch] {
    align-items: stretch;
}
@media screen and (max-width:543.98px) {
    [data-content-for=xs] {
        display: block
    }

    [data-content-for=xl] {
        display: none
    }

    [data-height=fullscreen] .envase {
        height: auto;
        min-height: auto
    }
}
@media screen and (min-width:992px) and (max-width:1169.98px) {
    [data-content-for=lg] {
        display: block;
    }
}

@media screen and (min-width:544px) and (max-width:767.98px) {
    [data-mobile-visibility=hidden] {
        display: none;
    }
    [data-column-mode-sm=single] .columna {
        width: 100%;
        max-width: 100%;
        flex: 0 0 auto;
        flex-basis: 100%
    }
}
@media screen and (max-width:543.98px) {
    [data-mobile-visibility=hidden] {
        display: none;
    }
    [data-column-mode-xs=single] .columna {
        width: 100%;
        max-width: 100%;
        flex: 0 0 auto;
        flex-basis: 100%
    }
}
@media screen and (max-width:543.98px) {
    [data-xs-visibility=hide] {
        display: none;
    }
}
@media screen and (min-width:544px) and (max-width:767.98px) {
    [data-sm-visibility=hide] {
        display: none;
    }
}
@media screen and (min-width:768px) and (max-width:991.98px) {
    [data-md-visibility=hide] {
        display: none;
    }
}
@media screen and (min-width:992px) and (max-width:1169.98px) {
    [data-lg-visibility=hide] {
        display: none;
    }
}
.video-fondo {
    background-color: #020202;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    max-width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: top center;
    top: 0;
    left: 0;
}

.video-fondo video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#columna-tramo {
    padding-top: 0rem;
    padding-bottom: 5.333333333333333rem;
}

.envase {
    max-width: 1230px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1.66667rem;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    min-height: auto;
    height: 100%;
}

.fila {
    display: flex;
    margin-left: -.83333rem;
    margin-right: -.83333rem;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-end;
}

.columna {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    border-style: solid;
    position: relative;
    padding-left: .83333rem;
    padding-right: .83333rem;
}

@media screen and (min-width:768px) and (max-width:991.98px) {
    .envase {
        padding: 0 1.11111rem;
    }
}

@media screen and (max-width:543.98px) {
    .envase {
        padding: 0 1.11111rem;
    }
}

@media screen and (max-width: 1169px) {
    .fila {
        margin-left: -5px;
        margin-right: -5px;
    }

    .columna {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (min-width: 1170px) {
    .fila {
        margin-left: -10px;
        margin-right: -10px;
    }

    .columna {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.contenedor-emergente-video {
    background: #000 !important;
}

.video-emergente-video {
    max-width: 100% !important;
    width: 100% !important;
    top: 55% !important;
}

.video-emergente {
    color: #ffffff !important;
    letter-spacing: 0.17777777777777778rem !important;
    margin-right: -0.17777777777777778rem !important;
    font-size: 0.7777777777777778rem !important;
    padding-right: 1.6666666666666667rem !important;
    padding-left: 1.6666666666666667rem !important;
    padding-top: 0.7777777777777778rem !important;
    padding-bottom: 0.7777777777777778rem !important;
    text-transform: uppercase !important;
    border: 1px solid white !important;
    display: inline-block !important;
    background: transparent !important;
}

.contenedor-emergente-video-cierre {
    background-image: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 22.0.0, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='78.9px' height='78.9px' viewBox='0 0 78.9 78.9' style='enable-background:new 0 0 78.9 78.9;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cg%3E%3Cpolygon class='st0' points='77.5,2.8 76.1,1.4 39.5,38.1 2.8,1.4 1.4,2.8 38.1,39.5 1.4,76.1 2.8,77.5 39.5,40.9 76.1,77.5 77.5,76.1 40.9,39.5 '/%3E%3Cpolygon class='st0' points='76.1,78.9 39.5,42.3 2.8,78.9 0,76.1 36.6,39.5 0,2.8 2.8,0 39.5,36.6 76.1,0 78.9,2.8 42.3,39.5 78.9,76.1 '/%3E%3C/g%3E%3C/svg%3E%0A") !important;
    background-size: 24px;
    background-position: 50% 50%;
    height: 60px;
    width: 60px;
    margin: 10px;
}

.contenedor-emergente-video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.88);
    z-index: 8888888;
}

.video-emergente-video {
    display: none;
    z-index: 8888889;
}

.video-emergente-video.es-paisaje {
    width: 90%;
    height: auto;
    max-width: 1200px;
    max-height: 90%;
}

.contenedor-emergente-video-cierre {
    background-image: url('../images/close-icon.svg');
    background-size: 15px auto;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    text-align: center;
    width: 60px;
    cursor: pointer;
    z-index: 9999999;
    -moz-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.contenedor-emergente-video-cierre:hover {
    opacity: 0.7;
}

.video-emergente {
    cursor: pointer;
}